.navbar {
    display: flex;
    justify-content: space-around; /* Promijenjen justify-content za centriranje */
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    left: 0; /* Da bi centrirali */
    right: 0; /* Da bi centrirali */
  }
  
  .links {
    display: flex;
    gap: 15px;
  }
  
  .links a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: color 0.3s ease;
  }
  
  .links a:hover {
    color: lightgray;
  }
  